<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.neu.cs6650.koi.account.mapper.TAccountMapper">

    <resultMap id="BaseResultMap" type="org.neu.cs6650.koi.account.entity.TAccount">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="amount" property="amount"/>
        <result column="password" property="password"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , user_id, amount, password
    </sql>

    <update id="decreaseAccount">
        update t_account
        set amount = amount - ${amount}
        where user_id = #{userId}
    </update>

    <update id="increaseAccount">
        update t_account
        set amount = amount + ${amount}
        where user_id = #{userId}
    </update>

    <select id="getAccount" resultMap="BaseResultMap">
        select * from t_account
        where user_id = #{userId}
    </select>

    <insert id="createAccount" keyProperty="id" useGeneratedKeys="true"
            parameterType="org.neu.cs6650.koi.account.entity.TAccount">
        insert into t_account
        values (null, #{account.userId}, #{account.amount} , #{account.password})
    </insert>

</mapper>
