<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.neu.cs6650.koi.stock.mapper.TStockMapper">

    <resultMap id="BaseResultMap" type="org.neu.cs6650.koi.stock.entity.TStock">
        <id column="id" property="id"/>
        <result column="commodity_code" property="commodityCode"/>
        <result column="name" property="name"/>
        <result column="count" property="count"/>
        <result column="image" property="image"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , commodity_code, name, count, image
    </sql>

    <update id="decreaseStock">
        update t_stock
        set count = count - ${count}
        where commodity_code = #{commodityCode}
    </update>

    <update id="increaseStock">
        update t_stock
        set count = count + ${count}
        where commodity_code = #{commodityCode}
    </update>

    <select id="getStock" resultMap="BaseResultMap">
        select * from t_stock
        where commodity_code = #{commodityCode}
    </select>

    <select id="getAllStocks" resultMap="BaseResultMap">
        select * from t_stock
    </select>
</mapper>
